<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
  <!-- 설정 -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <!-- 환경 설정(Transaction, Connection Pool) -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="GD"/>
        <property name="password" value="1111"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- 매퍼 설정(매퍼의 위치와 이름) -->
  <mappers>
    <mapper resource="mybatis/mapper/book.xml"/>
  </mappers>

</configuration>